#experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #experience > div {
    width: 48%; /* Adjust the width as needed */
  }
  
  #experience h2 {
    text-align: center; /* Center the heading */
  }
  
  #experience h3 {
    color: #333; /* Optional: Set the color for job titles */
  }
  
  #experience p {
    margin-bottom: 10px; /* Optional: Add some space between job title and description */
  }
  
  #hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #hero > div {
    width: 48%; /* Adjust the width as needed */
  }
  
  #hero h2 {
    text-align: center; /* Center the heading */
  }
  
  #hero h3 {
    color: #333; /* Optional: Set the color for job titles */
  }
  
  #hero p {
    margin-bottom: 10px; /* Optional: Add some space between job title and description */
  }
  