@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

#experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #experience > div {
    width: 48%; /* Adjust the width as needed */
  }
  
  #experience h2 {
    text-align: center; /* Center the heading */
  }
  
  #experience h3 {
    color: #333; /* Optional: Set the color for job titles */
  }

  #experience li {
    margin-bottom: 10px;
  }
  
  #experience p {
    margin-bottom: 10px; /* Optional: Add some space between job title and description */
  }
  
  #hero {
    text-align: center; /* Center the content within the section */
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-bottom: 20px; /* Add some space below the h2 */
  }
  
  .hero > div {
    display: inline-block; /* Display divs inline with each other */
    vertical-align: top; /* Align divs to the top of the line */
    width: 30%; /* Adjust the width of each div as needed */
    margin: 0 10px; /* Add some margin between the divs */
  }
  
  img {
    display: block; /* Make sure the image is a block element */
    margin: 0 auto; /* Center the image within its container */
    width: 40%;
    height: fit-content;
  }
  
  .box {
    margin: 2rem auto;
    max-width: 40ch;
    border: 8px solid #0038FF;
    color: #fff;
    padding: 2ch;
    position: relative;
    border-image: 
      url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H8v4H4v4H0v8h4v4h4v4h8v-4h4v-4h4V8h-4V4h-4V0zm0 4v4h4v8h-4v4H8v-4H4V8h4V4h8z' fill='%230038FF'/%3E%3C/svg%3E")
      8 stretch;
  }

  .box p{
    color: #333;
  }
  
.work {
	width: 30vw;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 200;
	padding: 0 4vw 4vw;
	border-right: 2px;
	border-left: 0;
	border-style: solid;
/* 	border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
	border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}
.work:last-child {
	border-right: 0;
}

.hero-content{
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.mobile-hero-format img{
  flex: 1; 
  max-width: 40%; 
  height: 10%; 
  margin: 0 10px;
}

@media (max-width: 768px) {
  .hero-content {
      padding: 0 20px; 
  }

  .mobile-hero-format {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .mobile-hero-format img {
    max-width: 100%;
    height: auto;
    margin: 0 0 20px;
  }
}