#zombie {
    /*Our png picture is 2000px * 312px, then each frame is 200px * 312px*/
    width: 200px;
    height: 312px;
    background-image: url("/img/walkingdead.png");
    animation: plays 1.8s steps(10) infinite ;
    margin-left: auto;
    }
    
    @keyframes plays {
    from { background-position: 0px; }
    to { background-position: -2000px; }
    }
    