#zombiesec {
    background-color: #bbb;
    max-width: 100%;
    height: 100vh;
}


#zombie {
    /*Our png picture is 2000px * 312px, then each frame is 200px * 312px*/
    width: 200px;
    height: 312px;
    background-image: url("walkingdead.png");
    animation: plays 1.8s steps(10) infinite ;
    margin-left: auto;
    }
    
    @keyframes plays {
    from { background-position: 0px; }
    to { background-position: -2000px; }
    }
    .coin {
        width: 30px;
        height: 30px;
        background-image: url("coin.png");
        position: absolute;
    }
    