#zombiesec {
    background-color: #bbb;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


#zombie {
    /*Our png picture is 2000px * 312px, then each frame is 200px * 312px*/
    width: 200px;
    height: 312px;
    background-image: url("walkingdead.png");
    animation: plays-left 1.8s steps(10) infinite ;
    margin-left: auto;
    transform: scaleX(-1);
    }
    
    @keyframes plays-right {
        from { background-position: 0px 0; }
        to { background-position: -2000px 0; }
    }
    
    @keyframes plays-left {
        from { background-position: 0px -312px; }
        to { background-position: -2000px -312px; }
    }
    .coin {
        width: 30px;
        height: 30px;
        background-image: url("coin.png");
        color: gold;
        position: absolute;
    }
    